/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 .dz-tpt-admin-page {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.dz-tpt-admin-page h1 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dz-tpt-admin-page .form-table th {
    font-weight: 600;
}

.dz-tpt-admin-page .form-table input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
